.buttons-menu {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: end;
}

.button-m {
  margin: 3px 5px;
  height: 60px;
  width: 60px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid gray;
}

.button-m:hover {
  background-color: #ff6600;
  color: white;
  border: 1px solid #ff6600;
}

.cart {
  color: #ff6600;
}

.cart:hover {
  color: white;
}

.vezi {
  font-size: 18px;
  font-weight: 600;
}
