
  .home-container1 {
    width: 238px;
    height: 126px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .home-image {
    width: 91px;
    height: 93px;
    object-fit: cover;
    margin-left: 10px;
    margin-right: 10px;
  }
  .home-container5 {
    flex: 0 0 auto;
    width: 50%;
    height: 119px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-text1 {
    margin-top: 20px;
  }
  .home-button {
    width: 69px;
    height: 17px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .home-button1 {
    width: 69px;
    height: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  