.hotspot-container {
  position: relative;
  min-width: 500px;
  background-color: white;
  border-radius: 20px;
}

.responsive-image {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: auto;
}

.hotspot-container:hover .hotspot {
  height: 15px;
  width: 15px;
  box-shadow: 0px 0px 3px 9px #888888;
}

.hotspot {
  position: absolute;
  cursor: pointer;
  height: 10px;
  width: 10px;
  box-shadow: 0px 0px 0px 7px #888888;
  border-radius: 50%;
  background-color: #ff6600;
  transform: translate(-50%, -50%);
  transform-origin: center;
  transition: height 0.3s, width 0.3s, background-color 0.3s, transform 0.3s;
}
.hotspot-container-big {
  width: 35%;
  display: inline-block;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  min-width: 560px;
  background-color: white;
  border-radius: 20px;
  border: 1px solid gray;    /* !! de sters*/
}

.hotspot-container-big:hover {
  box-shadow: 0px 10px 20px #888888;
}

.menu-container {
  display: flex;
  justify-content: space-around;
  padding: 20px 0px;
}

.elements-menu {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.menu-item { 
  width: 60px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid white

}

.active { 
  border: 1px solid #ff6600;
}

.buttons-menu {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

.button-m {
  height: 70px;
  width: 70px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid gray;
}

.button-m:hover {
  background-color: #ff6600;
  color: white;
  border: 1px solid #ff6600;
}

.cart {
  color: #ff6600;
}

.cart:hover {
  color: white;
}

.vezi {
  font-size: 18px;
  font-weight: 600;
}
