.element{
    width: 75%;
    max-width: 155px;
    margin: 0px auto 16px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
  }
  
  
  .image-style { 
    width: 85px;
  }